<div id="articles" class="transitions-enabled">
  <% @articles.each do |article| %>
    <div class="box panel panel-default">
        <div class="panel-heading">
            <h2><%= wrap(article.title) %></h2>
        </div>
        <%= link_to article_path(article) do %>
          <%= image_tag article.image_url(:medium).to_s, class: "img-responsive" %>
        <% end %>
        <div class="panel-body">
            <%= article.summary %><br>
        </div>
        <div class="panel-footer">
            <%= link_to 'Lees meer', article_path(article) %> 
            <% if user_signed_in? %>
             | <%= link_to 'Bewerk', edit_article_path(article) %> | 
              <%= link_to 'Verwijder', article, method: :delete, data: { confirm: 'Are you sure?' } %>
            <% end %>
        </div>
    </div>
  <% end %>
</div>