<!DOCTYPE html>
<html>
<head>
  <title>Ineke5</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <%= render 'layouts/header' %>
  <div class="container">
    <div class="row">
      <div class="col-xs-6"></div>
      <div class="col-xs-6"><%= yield %></div>
      <div class="push"></div>
    </div>
  </div>
  <%= render 'layouts/footer' %>
</body>
</html>
